201          ICON                    "icons/112_Minus_Green.ico"
202          ICON                    "icons/112_Minus_Grey.ico"
203          ICON                    "icons/ServicesStop_5725.ico"
204          ICON                    "icons/ServiceStart_5723.ico"
205          ICON                    "icons/user.ico"
